<form action="/login" method="POST">
  <div>
    email
    <input type="email" name="email" id="email" />
  </div>

  <div>
    password
    <input type="password" name="password" id="password" />
  </div>

  <div>
    <input type="submit" value="submit" />
  </div>
</form>
